@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    /* primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);

}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* navbar styling start */ 
#nav-bar {
    width: 100%;
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    transition: all 0.3s ease-out;
}
#nav-bar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 14rem;
}
.menu li {
    display: inline-block;
}
.menu li a {
    color: var(--grayish-blue);
    margin-right: 1rem;
}
.menu-btn {
    cursor: pointer;
    display: none;
}
.request-btn {
    padding: 1rem 2rem;
    color: var(--white);
    background: linear-gradient(90deg, var(--lime-green), var(--bright-cyan));
    border-radius: 2rem;
    text-transform: capitalize;
    font-weight: 700;
}